[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
flake8 = "*"
mypy = "*"
psycopg2 = "*"
django-webpack-loader = "*"
djangorestframework = "*"
gunicorn = "*"
django-allow-cidr = "*"
django-anymail = {extras = ["mailgun"],version = "*"}
drfpasswordless = "*"
django-cors-headers = "*"
django-filter = "*"
django-extensions = "*"
validate-email = "*"
django-registration = "*"
djangorestframework-expander = "*"
drf-writable-nested = "*"

[requires]
python_version = "3.7"
